/* common shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    padding: 13px 28px;
    border-radius: 5px;
    background: #E55473;
    color: #ffffff;
    border: none;
    text-align: center;
}
.section-title {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding: 0px 240px 15px 240px;
    margin-top: 100px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 160px 15px 160px;
    margin-right: 240px;
    margin-left: 240px;
}
.text-primary{
    color: #E55473;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner section styles */

.banner {
    display: flex;
    padding: 50px 150px 0px 150px;
    justify-content: space-between;
}

.banner-content {
    width: 50%;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    padding-top: 120px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 12px;
    margin-bottom: 20px;
    padding-right: 40px;
    font-weight: 400;
    line-height: 20px;
}

.banner .flower-pic {
    width: 635px;
    padding: 30px 180px 0px 50px;
}
/* feature section styles */
.feature {}



.feature-content {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 120px 0 120px;
}

.feature-item {
    width: 33%;
}

.feature-item .feature-image {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 45px 0 45px;
    margin: 10px;
}

#feature-image-1 {
    background: rgba(167, 33, 98, 0.15);
}

#feature-image-2 {
    background: rgba(5, 151, 160, 0.15);
}

#feature-image-3 {
    background: rgba(71, 125, 17, 0.15);
}

figcaption .feature-title {
    
    margin-top: 35px;
}

.feature-title a {
    text-align: center;
    color: #272727;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    display: block;
}
/* deals section styles */
.deals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin-top: 100px ;
    background: rgba(229, 84, 115, 0.05);
}
.deals-content{
    
}

.deals-title{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    display: block;
    
}
.deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    margin-top: 20px;
    padding: 0 150px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    text-align: center;
}
.deals-btn {
    text-align: center;
    margin-top: 20px;
}
.deals-content .deals-pic{
    width: 318px;
    padding: 15px 70px 0 40px;
    margin-right: 30px;
}
.instagram-content {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px 0 120px;
}
.instagram-item {
    width: 25%;
}
.instagram-item .instagram-image {
    width: 300px;
    height: 250px;
    
    padding: 0 38px 0 38px;
    margin: 20px 10px 20px 10px;
}
.lat-deals{
    background-image: url(../images/Rectangle\ 9.png);
    padding-top: 10px; 
    background-repeat: no-repeat;
    margin: 50px 160px;
    background-size: contain;
    
    
}
.lat-deals-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
/* .lat-deals-item{
    margin-right: 10px;
} */
.lat-deals-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    padding: 0 110px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    text-align: center;
}

.lat-deals-content .lat-deals-item >input {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: rgba(39, 39, 39, 0.60);
    border-radius: 5px;
    background: #fff;
    border: none;
    width: 100%;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 10px;
}
footer{
    background-color: #111010;
    padding-top: 25px;
    padding-bottom: 40px;
}
#footer-color-title{
    color: #fff;
}
#footer-color-desc{
    color: rgba(255, 255, 255, 0.90);
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 9px;
    font-weight: 400;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px 0 0px;
    background-color:  #FFE7ED;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: 100px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}






